:host {
    height: 40%;
    width: 100%;
}

:host {
    display: block;
    border: 1px solid black;
  }

.time-view-wrapper {
    height: 100%;
    width: 100%;
}

.time-grid {
    display: flex;
    flex-direction: column;
        height: 100%;
        width: 100%;
    .time-grid-row {
        display: flex;
        flex-direction: row;
        .time-grid-cell {
            width: 50%;
        }  
    }
}